// @see https://github.com/just-the-docs/just-the-docs/blob/main/_sass/support/_variables.scss

$link-color: $os2-green-000;
$sidebar-color: $grey-lt-000 !default;
$btn-primary-color: $os2-green-000;
$body-font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
$sidebar-color: $white;
